[submodule "qtjsonserializer"]
	path = qtjsonserializer
	url = ../QtJsonSerializer.git
[submodule "qtrestclient"]
	path = qtrestclient
	url = ../QtRestClient.git
[submodule "qtdatasync"]
	path = qtdatasync
	url = ../QtDataSync.git
[submodule "qtautoupdater"]
	path = qtautoupdater
	url = ../QtAutoUpdater.git
[submodule "qtservice"]
	path = qtservice
	url = ../QtService.git
[submodule "qtmvvm"]
	path = qtmvvm
	url = ../QtMvvm.git
[submodule "qtapng"]
	path = qtapng
	url = ../QtApng.git
