[submodule "qtjsonserializer"]
	path = qtjsonserializer
	url = https://github.com/Skycoder42/QtJsonSerializer.git
[submodule "qtrestclient"]
	path = qtrestclient
	url = https://github.com/Skycoder42/QtRestClient.git
[submodule "qtdatasync"]
	path = qtdatasync
	url = https://github.com/Skycoder42/QtDataSync.git
[submodule "qtautoupdater"]
	path = qtautoupdater
	url = https://github.com/Skycoder42/QtAutoUpdater.git
